# requirements.txt
# 解決 'authlib' 錯誤
authlib

# 讓 Flask 能處理異步函式 (async def)
nest-asyncio
Flask
Flask[async]
gunicorn

# Discord 機器人核心與功能
discord.py
discord.py[voice]
PyNaCl
aiohttp
psycopg2-binary


# 影片/音樂功能
# 新增 pytube 作為主要的 YouTube 提取工具
spotipy
discord.py
pytube>=15.0.0
yt-dlp>=2024.01.24



# 其他
requests-oauthlib